<article class="posts">
  <h1>
    <a href="{{ include.post.url }}">{{ include.post.title }}</a>
  </h1>
  {% if include.post.image %}
  <div class="thumbnail-container">
    <a href="{{ include.post.url }}"><img src="{{ include.post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {% include excerpt.html post=post %} <a href="{{ include.post.url }}">Read more</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ include.post.date | date_to_string }} / <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html post=post %} {% include post-tags.html short=true page=post %}</span>
  </p>
</article>